@import "tailwindcss";
@import 'aos/dist/aos.css';

body {
  margin: 0;
  font-family: "Urbanist", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
  background-image: url('https://img.freepik.com/free-photo/abstract-luxury-blur-grey-color-gradient-used-as-background-studio-wall-display-your-products_1258-54073.jpg?t=st=1744115740~exp=1744119340~hmac=a9954949e9529b29d536374f776c6ab2f1ead079f44f1ad020aa47d61907a6ec&w=1380');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  color: white;
}
